<br>
<h3>Company</h3>
<br>
<div class="container">
    <div class="card">
        <div class="car-header">
            
        </div>
        <div class="car-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Company</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let company of lstcompany.content" class="text-center">
                        <td><a href="http://localhost:4200/edit">{{company.userCompanyDetailId}}</a></td>
                        <td>{{company.companyId}}</td>
                        <td>{{company.userId.userId}}</td>
                        <td>
                            <button class="btn btn-danger" style="margin-left: 10px;">
                                <img src="https://cdn.pixabay.com/photo/2013/07/13/10/06/abort-156539_960_720.png"
                                height="25px"
                                width="25px">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>