<div class="page-container">
    <div class="sidebar">
         <div class="list-items">
            <a routerLink="/menu" class="list-item">
                <i class="material-icons">home</i>
                Principal
            </a>
            <a routerLink="/menu/company" class="list-item">
                <i class="material-icons">apartment</i>
                Compañias
            </a>
         </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>